<section class="starfn">
    <div>
        <div class="row">
            <div class="col-6">
                <h1>Menu</h1>
            </div>
            <div class="col-6">
                <button class="abg">
                    <div class="hamburger">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <nav class="navs">
        <ul>
            <li><a href="/"><span class="icon">Inicio</span></a></li>
            <li><a href="/"><span class="icon">Familia</span></a></li>
            <li><a href="/"><span class="icon">Civil</span></a></li>
            <li><a href="/"><span class="icon">Laboral</span></a></li>
            <li><a href="/"><span class="icon">Actos Notariales</span></a></li>
        </ul>
    </nav>
</section>